In [45]:
import bs4 as bs
import urllib.request
import re
import pandas as pd
import twint
# Solve compatibility issues with notebooks and RunTime errors.
import nest_asyncio
nest_asyncio.apply()

### –ü–æ–ª—É—á–µ–Ω–∏–µ –º–∞—Å—Å–∏–≤–∞ —Å—Å—ã–ª–æ–∫ –Ω–∞ —Ç–≤–∏—Ç—Ç–µ—Ä—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å –∏—Å—Ç–æ—á–Ω–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [4]:
def get_soup(link):
    source = urllib.request.urlopen(link).read()
    soup = bs.BeautifulSoup(source, "lxml")
    return soup

In [5]:
def get_twitters(source_link):
    source_soup = get_soup(source_link)
    links = []
    regex_twitter = re.compile("https://twitter.com/[a-z0-9-]+$", re.IGNORECASE)
    for a in source_soup.find_all('a', href = regex_twitter):
        links.append(a.get("href"))
    return links

In [6]:
DATA_SOURCE_LINK = "https://www.brandwatch.com/blog/most-twitter-followers/"

In [7]:
twitter_links = get_twitters(DATA_SOURCE_LINK)
twitter_links

['https://twitter.com/shakira',
 'https://twitter.com/ddlovato',
 'https://twitter.com/britneyspears',
 'https://twitter.com/narendramodi',
 'https://twitter.com/cnnbrk',
 'https://twitter.com/Twitter',
 'https://twitter.com/selenagomez',
 'https://twitter.com/jtimberlake',
 'https://twitter.com/KimKardashian',
 'https://twitter.com/YouTube',
 'https://twitter.com/ArianaGrande',
 'https://twitter.com/realDonaldTrump',
 'https://twitter.com/TheEllenShow',
 'https://twitter.com/ladygaga',
 'https://twitter.com/Cristiano',
 'https://twitter.com/taylorswift13',
 'https://twitter.com/rihanna',
 'https://twitter.com/katyperry',
 'https://twitter.com/justinbieber',
 'https://twitter.com/BarackObama']

### –ü–æ–ª—É—á–µ–Ω–∏–µ –º–∞—Å—Å–∏–≤–∞ –∏–º–µ–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

In [8]:
def get_user_names(user_twitters):
    user_names = []
    for twitter in user_twitters:
        user_name = twitter[20:]
        user_names.append(user_name)
    return user_names

In [9]:
usernames = get_user_names(twitter_links)
usernames

['shakira',
 'ddlovato',
 'britneyspears',
 'narendramodi',
 'cnnbrk',
 'Twitter',
 'selenagomez',
 'jtimberlake',
 'KimKardashian',
 'YouTube',
 'ArianaGrande',
 'realDonaldTrump',
 'TheEllenShow',
 'ladygaga',
 'Cristiano',
 'taylorswift13',
 'rihanna',
 'katyperry',
 'justinbieber',
 'BarackObama']

### –ó–∞–ø–∏—Å—å –≤ —Ñ–∞–π–ª –∏ —á—Ç–µ–Ω–∏–µ –∏–∑ —Ñ–∞–π–ª–∞ –º–∞—Å—Å–∏–≤–∞ –∏–º–µ–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

In [47]:
PATH = "C:/Users/LADA/Inf_Search"

In [48]:
data_path = "{}/{}".format(PATH, "data")

In [11]:
def set_array_to_file(array, file):
    with open(file, 'w') as filehandle: 
        for item in array:
            filehandle.write('%s\n' % item)

In [12]:
def get_array_from_file(file):
    array = []
    with open(file, 'r') as filehandle:
        for line in filehandle:
            currentItem = line[:-1]
            array.append(currentItem)
    return array

In [49]:
users_file = "{}/{}.txt".format(data_path, "usernames")

In [25]:
set_array_to_file(usernames, users_file)

In [27]:
users = get_array_from_file(users_file)
users

['shakira',
 'ddlovato',
 'britneyspears',
 'narendramodi',
 'cnnbrk',
 'Twitter',
 'selenagomez',
 'jtimberlake',
 'KimKardashian',
 'YouTube',
 'ArianaGrande',
 'realDonaldTrump',
 'TheEllenShow',
 'ladygaga',
 'Cristiano',
 'taylorswift13',
 'rihanna',
 'katyperry',
 'justinbieber',
 'BarackObama']

### –ü–æ–ª—É—á–µ–Ω–∏–µ —Ç–≤–∏—Ç–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –≤–∏–¥–µ —Ñ–∞–π–ª–∞ —Ñ–æ—Ä–º–∞—Ç–∞ csv

In [20]:
def get_tweets(usernames, path, file_name):
    for username in usernames:
        c = twint.Config()
        c.Username = username
        c.Limit = 12000
        c.Store_csv = True
        c.Output = "{}/{}.csv".format(path, file_name)
        c.Hide_output = True
        twint.run.Search(c)

In [21]:
initial_data_file_name = 'initial_data'

In [22]:
get_tweets(users, data_path, initial_data_file_name)

CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs
CRITICAL:root:twint.run:Twint:Feed:noDataExpecting value: line 1 column 1 (char 0)
sleeping for 1.0 secs

### –ü—Ä–æ—Å–º–æ—Ç—Ä –∏—Å—Ö–æ–¥–Ω–æ–π –∫–æ–ª–ª–µ–∫—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö

In [50]:
tweets = pd.read_csv("{}/{}.csv".format(data_path, initial_data_file_name))

c:\users\lada\appdata\local\programs\python\python38-32\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [51]:
tweets.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'mentions', 'urls',
       'photos', 'replies_count', 'retweets_count', 'likes_count', 'hashtags',
       'cashtags', 'link', 'retweet', 'quote_url', 'video', 'near', 'geo',
       'source', 'user_rt_id', 'user_rt', 'retweet_id', 'reply_to',
       'retweet_date', 'translate', 'trans_src', 'trans_dest'],
      dtype='object')

In [52]:
tweets[['name', 'date', 'tweet', 'hashtags', 'replies_count', 'retweets_count', 'likes_count']]

,name,date,tweet,hashtags,replies_count,retweets_count,likes_count
0,Shakira,2020-05-28,I believe that where you live shouldn‚Äôt affect...,['#globalgoalunite'],124,487,2834
1,Shakira,2020-05-27,Y yo a ti!!!üòò,[],29,48,382
2,Shakira,2020-05-27,Congratulations to my cousin @IsaMebarak for h...,[],30,115,1021
3,Shakira,2020-05-27,Felicidades a mi prima hermana @isamebarak por...,[],117,408,3387
4,Shakira,2020-05-26,I‚Äôve read your tweets bosses! \nI‚Äôm on it! üòò p...,[],1689,3175,45903
...,...,...,...,...,...,...,...
175580,Barack Obama,2012-11-06,25 reasons that 25 people are voting for Presi...,[],265,2608,554
175581,Barack Obama,2012-11-06,At the final rally of his final campaign last ...,[],213,1348,492
175582,Barack Obama,2012-11-06,It‚Äôs Election Day! This is your last chance to...,[],456,8550,677
175583,Barack Obama,2012-11-06,Election Day is here! Confirm your polling pla...,[],726,6121,1778
175584,Barack Obama,2012-11-06,"President Obama tells the story of ""Fired up! ...",['#forward'],378,1826,704

### –ü–æ–¥—Å—á–µ—Ç –¥–æ–∫—É–º–µ–Ω—Ç–æ–≤ –≤ –∏—Å—Ö–æ–¥–Ω–æ–π –∫–æ–ª–ª–µ–∫—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö

In [53]:
tweets.shape[0]

175585

In [54]:
tweets.groupby('name').size()

name
Ariana Grande          12019
Barack Obama            7088
Britney Spears          5124
CNN Breaking News      12000
Cristiano Ronaldo       3268
Donald J. Trump        12000
Ellen DeGeneres        12000
Justin Bieber          12000
Justin Timberlake       3321
KATY PERRY             10174
Kim Kardashian West    12000
Lady Gaga               7712
Narendra Modi          12000
Rihanna                 9638
Selena Gomez            4292
Shakira                 5438
Taylor Swift             542
Team Demi              12000
Twitter                10969
YouTube                12000
dtype: int64